/*
!important Sirve para que si o si haga el estilo que este dentro, el display none y block nos permite dar una variedad de estilos las cuales hacen que el diseño de una pagina sea mas interactiva y estas propiedades van o pueden ir acompañadas (para una mejor interaccion) con el :hover que esto significa que cuando ponemos encima el cursor se realiza dicho estilo. 
*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color: white;
    width: 100%;
}

nav .mobile{
    display: none;

    position: sticky;
    top: 0;
}

nav .mobile .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

nav .mobile .header .more button{
    border: none;
    background-color: black;
    color: white;
    padding: 15px;
    cursor: pointer;
}

nav .logo{
    min-width: 250px;
}

nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
}
nav a:hover{
    background-color: #00c3ff;
    color: black;
}
nav .desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

nav .desktop .primary,
nav .desktop .secondary{
    display: flex;
}

nav .desktop .secondary.mini{
    display: none;
}

@media screen and (max-width:900px) {
    nav .log{
        min-width: 100px;
    }

    nav .secondary.full{
        display: none;
    }

    nav .secondary.mini{
        display: block !important;
    }

    nav .secondary.mini .submenu{
        background-color: black;
        position: absolute;
        display: none;
        right: 0;
        width: 180px;
    }

    nav .secondary.mini:hover .submenu{
        display: block;
    }
    /*¿COMO HACEMOS APARECER LAS OPCIONES?
    */
}

@media screen and (max-width:670px) {
    nav .desktop{
        display: none;
    }

    nav .mobile{
        display: block;
    }
}


/*Buscador*/
.search-bar {
    border: 1px solid #ccc;
    /* width: 700px; */
    width: 60%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    padding: 5px 10px;
    margin: 100px auto;
    transition: all 0.3s ease-in-out;
}
.search-bar:focus-within{
    border: 1px solid #00c3ff;
    box-shadow:  0 2px 5px rgb(0, 0, 0, 0.2);
}
.search-bar input[type="text"] {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    font-size: 18px;
}
.search-bar .actions button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #999;
    transition: color 0.3s ease-in-out;
    /* transition: color 0.3s ease-in-out; 
    Es lo mismo si lo ponemos aca o abajo
    */
}
.search-bar .actions button:hover{
    color: #2979e2;
    /* transition: color 0.3s ease-in-out; 
    Es lo mismo si lo ponemos aca o arriba
    */
}